<nav>
    <div class="navbar">
        <div class="logo">
            <h2>Blog</h2>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/compose">Compose</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="signup">Signup</a></li>
        </ul>
    </div>
</nav>