<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('header.ejs') %>

        <div class="posts">
            <div class="post">
                <h2>
                    <%= postData[0].title[0].toUpperCase() + postData[0].title.slice(1,) %>
                </h2>
                <p>
                    <%= postData[0].body %>
                </p>
                <p>
                    <strong>Posted on:</strong>
                    <%= postData[0].dt %>
                </p>
            </div>
            <a href="/">Go Back</a>
        </div>
</body>

</html>